<footer>
    <!-- Footer Start-->
    <div class='footer-area footer-bg footer-padding'>
        <div class='container'>
            <div class='row d-flex justify-content-between'>
                <div class='col-xl-3 col-lg-3 col-md-4 col-sm-12'>
                    <div class='single-footer-caption mb-30'>
                        <div class='footer-tittle'>
                            <div class="footer-logo">
                                <a href="/"><img src="/img/logo/logo2_footer.png" alt=""
                                        style="max-height: 90px; padding: 8px 0px;"></a>
                            </div>
                            <div class="footer-pera">
                                <p>Địa chỉ: 19 Nguyễn Hữu Thọ, Tân Hưng, Quận 7, TPHCM
                                    <br>Phone: +84 338 681 682
                                    <br>Email: findjobs@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-xl-6 col-lg-6 col-md-4 col-sm-6'>
                    <div class='single-footer-caption mb-30'>
                        <div class='footer-tittle text-center'>
                            <h4>FindJobs</h4>
                            <ul>
                                <li><a href='/'>Trang chủ</a></li>
                                <li><a href='/jobs'>Việc làm</a></li>
                                <li><a href='#'>Blog</a></li>
                                <li><a href='/companies'>Công ty</a></li>
                                <li><a href='/contact'>Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='col-xl-3 col-lg-3 col-md-4 col-sm-6'>
                    <div class='single-footer-caption mb-30'>
                        <div class='footer-tittle'>
                            <h4>Tin tức</h4>
                            <div class='footer-pera footer-pera2'>
                                <p>Nhập email của bạn, để được cập nhật thông tin nhanh nhất.</p>
                            </div>
                            <!-- Form -->
                            <div class='footer-form'>
                                <form id='mc_embed_signup' action='/news' method='post' class='d-flex'>
                                    <input name='email' id="email" rules='required email' placeholder='Email Address'
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = ' Email Address '" />
                                    <button type='submit' id='newsletter-submit' class="btn"><img
                                            src='/img/logo/form.png' /></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class='footer-bottom-area footer-bg'>
        <div class='container'>
            <div class='footer-border'>
                <div class='row d-flex justify-content-between align-items-center'>
                    <div class='col-xl-10 col-lg-10'>
                        <div class='footer-copy-right'>
                            <p>
                                Cảm ơn đã đến với chúng tôi
                                <i class='fa fa-heart' aria-hidden='true'></i>. Chúc các bạn tìm được công việc phù hợp!
                            </p>
                        </div>
                    </div>
                    <div class='col-xl-2 col-lg-2'>
                        <div class='footer-social f-right'>
                            <a href='#'><i class='fab fa-facebook-f'></i></a>
                            <a href='#'><i class='fab fa-twitter'></i></a>
                            <a href='#'><i class='fas fa-globe'></i></a>
                            <a href='#'><i class='fab fa-behance'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<script src="/js/validator.js"></script>
<script>
    var form = new Validator('#mc_embed_signup');
</script>